---
layout: default
---
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title }}
        </h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%Y/%m/%d %H:%M:%S" }}
            </time>
            {% if page.author %} •
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">
                    {{ page.author }}
                </span>
            </span>
            {% endif %}
        </p>
    </header>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <script src="https://giscus.app/client.js"
        data-repo="ichengzi/ichengzi.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk1Njc3ODI4Nw=="
        data-category="Announcements"
        data-category-id="DIC_kwDOA2JeL84CAYoo"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
</article>
